.dialogs {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 6fr;
}
.daialogs_item {
  padding: 10px;
}

.dialog {
  text-decoration: none;
  padding: 10px;
}
.dialog a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 26px;
  text-shadow: 0 0 2px black;
}

.chats {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: 0 0 2px black;
}
.chat {
  padding: 10px;
}

.buttonFollow {
  background-color: crimson;
  color: white;
  border: none;
  font-size: 12px;
  width: 170px;
  height: 25px;
  size: 24px;
  border-radius: 0.2em;
  transition-duration: 0.2s;
}
.buttonFollow:hover {
  border-radius: 0.2cm;
  color: gold;
}
.textarea {
  color: #000000;
  background-color: rgb(255, 255, 255);
  white-space:nowrap;
  border-radius: 0.3em;
  resize: vertical;
  width: 162px;
  border: none;
}
