body{
  background-color: rgb(231, 231, 231);
}

.app_warpper {
  width: 1200px ;
  margin:auto;
  display: grid;

  grid-template-areas:
    "header header"
    "navbar content";
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 995px;
  grid-gap: 10px;

}
.app_wrapper_content {
  border-radius: 0.5cm;
  border: 0.5em solid rgba(0, 0, 0, 0.138);
  background-color: rgb(47, 240, 240);
  grid-area: content;
}
